# Salad Auth
SALAD_AUTH=fdmigPDIMGPOSgimdsogdismgdSPOGMDSigopDSM

# LaMetric Details
LAMETRIC_PUSH_URL=https://localhost:1337/api/v1/dev/widget/update/com.lametric.IDOSPGISDAMGODSAIGMDPSA/1
LAMETRIC_ACCESS_TOKEN=iGPMOIGDSMGIDSpmgdsiGMSDgoidSM==